$widthSite: 1600px;
$widthCenter: 1140px;
$colorSelectSite: #F16D7F;
$colorBackDark: #222222;
$backColorContent: #E5E5E5;
$colorCard: #F8F8F8;
$backBlock: #222222;
$colorText: #000000;
$textSelectLite: 'Lato-Light'